<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>footer component</title>
</head>
<body>

	<div class='d-flex flex-column'>
		<footer id='sticky-footer' class='page-footer py-4 bg-light text-black-50 my-footer'>
			<div class='container text-center'>
				<small>Copyright &copy; My Webpage</small><br/>
				<small>Copyright &copy; My Webpage</small><br/>
				<small>Copyright &copy; My Webpage</small><br/>
				<small>Copyright &copy; My Webpage</small><br/>
			</div>
		</footer>
	</div>

</body>
</html>