<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>header component</title>
</head>
<body>

	<header id='header'>
		<div class='container-fluid' id='headerContainer'>
			<div class='container' id='headerContent'>
				<div class="fadeIn">
					<h1>중 고 천 국</h1><br/>
					<p>
						없는 것 빼고 모두 다 있는 천국같은 곳!<br/>
						이 사이트는 부트스트랩으로 디자인 하였고, java Servlet 을 이용해 서버환경을 구성했습니다.<br/>데이터베이스는 Oracle 11g xe 입니다
					</p>
				</div>
				<div class="fadeIn">
					<a class='btn btn-primary btn-lg my-btn' href='#buy' id='btnBuy' onclick='funcMovePage("content")'>삽니다</a>
					<a class='btn btn-primary btn-lg my-btn' href='#sell' id='btnSell' onclick='funcMovePage("content")'>팝니다</a>
				</div>
			</div>
		</div>
	</header>

</body>
</html>