<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>top component</title>
</head>
<body>

	<div class='container-fluid' id='top'>
		<div class='row'>
			<div class='col-md-1'></div>
			<div class='col-md-3'>
				<img src='/junggo/img/logo/cat_foot_empty.svg' id='topLogo' />&nbsp;
				<div id='title'>&nbsp;&nbsp;중고천국</div>
			</div>
			<div class='col-md-5'>
			</div>
			<div class='col-md-3'>
				<form>
					<div class='form-group' id='searchForm'>
						<input type='search' class='my-search-bar' />
						<input type='button' class='btn btn-primary btn-sm' value='검색' />
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>